:root {
    font-size: xx-large;
    font-family: 'Wendy One', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    width: 100%;
}

Header{
    width: fit-content;
    height: fit-content;
}

.header-format {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 25px;
    background: linear-gradient(to right, #283048, #859398);
}

.text-style{
    text-shadow: 0 10px 5px rgba(0,0,0,0.4), 0 -7px 1px #050505; /* Soft Aqua Highlight */
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
    font-family: 'Great Vibes', cursive;
    color: #eeefed; /* Olive Green */
    font-weight: bold;
    font-size: 2vw; /* Font size scales with viewport width */
    cursor: pointer;
}

.text-style:hover {
    animation: glitch 0.8s ease-in-out alternate;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

@keyframes glitch {
    0% {
        transform: translate(0px,0px);
        text-shadow: none;
    }
    20% {
        transform: translate(2px,0px);
        text-shadow: -2px -2px 0 #3f3838, 2px 2px 0 #293339;
    }
    40% {
        transform: translate(0px,2px);
        color: #25282a;
        text-shadow: -3px 3px 0 #101112, 3px -3px 0 #4d4747;
    }
    60% {
        transform: translate(0px,4px);
        color: #efdcdc;
        text-shadow: 4px -4px 0 #d2d8dd, -4px 4px 0 #121416;
    }
    80% {
        transform: translate(4px,0px);
        color: #5f6264;
        text-shadow: -1px -1px 3px #3498db, 1px 1px 3px #d62222;
    }
    100% {
        transform: translate(0px,0px);
        color: #d2d8dd;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }
}
    
@media (max-width: 1200px) {
    .text-style {
        font-size: 1.5rem; /* Smaller font size on tablets */
    }
}

@media (max-width: 768px) {
    .text-style {
        font-size: 1.5rem; /* Smaller font size on tablets */
    }
}

@media (max-width: 480px) {
    .text-style {
        font-size: 1.2rem; /* Further reduce font size on mobile */
    }
}